fastapi
uvicorn[standard]
pymongo
redis
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
langchain
langchain-core
langchain-groq
langchain-google-genai
langsmith
openai-whisper
torch
Pillow
requests
google-cloud-storage
python-multipart
email-validator
